<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="minimal-sms-plugin" version="0.2.0">
    <name>MinimalSMSPlugin</name>
    <author>wokatorek</author>
    <description>Minimal SMS plugin</description>
    <license>MIT</license>
    <keywords>cordova,sms</keywords>
    <js-module src="www/miniSms.js" name="miniSms">
      <clobbers target="window.miniSms" />
    </js-module>
    <platform name="android">
      <config-file target="config.xml" parent="/*">
        <feature name="miniSms">
          <param name="android-package" value="pl.wokatorek.cordova.plugin.miniSms.MinimalSMSPlugin"/>
        </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/*">
  	    <uses-feature android:name="android.hardware.telephony" android:required="false" />
  		<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    	<uses-permission android:name="android.permission.RECEIVE_SMS" />
    	<uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
  	    <uses-permission android:name="android.permission.READ_SMS" />
  	    <uses-permission android:name="android.permission.WRITE_SMS" />
  	    <uses-permission android:name="android.permission.SEND_SMS" />
      </config-file>
      <config-file parent="/manifest/application" target="AndroidManifest.xml">
        <receiver android:name="pl.wokatorek.cordova.plugin.miniSms.SmsReceiver" android:exported="true">
          <intent-filter android:priority="999">
            <action android:name="android.provider.Telephony.SMS_RECEIVED" />
          </intent-filter>
        </receiver>
      </config-file>
      <source-file src="src/android/MinimalSMSPlugin.java" target-dir="src/pl/wokatorek/cordova/plugin/miniSms"/>
      <source-file src="src/android/SendStatusReceiver.java" target-dir="src/pl/wokatorek/cordova/plugin/miniSms"/>
      <source-file src="src/android/SmsReceiver.java" target-dir="src/pl/wokatorek/cordova/plugin/miniSms" />
    </platform>
</plugin>
